/* GOOGLE FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root {
    --max-width: 1300px;
    --header-height: 1rem;
    /* Colors */
    --super-light-gray: #e3e3e3;
    --light-gray: #d7d7d7;
    --dark-gray: #484848;
    --pink: hsl(353deg 100% 77%);
    --black: hsl(0deg 0% 28%);

    /* Font and typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom  */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* RESPONSIVE TYPOGRAPHY */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 7.5rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    position: relative;
}

h1,
h2,
h3 {
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    background: transparent;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}


/* REUSE CSS CLASSES  */
.section {
    padding: 4rem 0 2rem;
}

.section__title {
    font-size: 1.1rem;
    border-bottom: 1px solid var(--super-light-gray);
    padding: 0rem 0rem 0.4rem 0rem;
    font-weight: var(--font-semi-bold);
}

/* LAYOUT */
.main {
    overflow: hidden;
}

.container {
    max-width: var(--max-width);
    margin: auto;
}

.row {
    display: flex;
    gap: 2rem;
}

/* HEADER TOP */
.header__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.full-border {
    border-bottom: 1px solid var(--super-light-gray);
    border-top: 1px solid var(--super-light-gray);
}

/* header socials */
.header__socials {
    display: flex;
    gap: 10px;
}

.social__icon {
    background-color: #d7d7d7;
    border-radius: 4px;
    font-size: var(--normal-font-size);
    padding: 4px;
    color: #484848;
    cursor: pointer;
}

.social__icon:hover {
    background-color: var(--pink);
    color: white;
    transition: .5s;
}

/* header shipping */
.header__shipping {
    font-size: var(--small-font-size);
    color: gray;
    text-align: center;
}

/* header preferences */
.header__preferences {
    display: flex;
    gap: 10px;
    font-size: var(--small-font-size);
}

#languages,
#currencies {
    border: 0;
}

.preferences__currencies:focus-visible,
.preferences__languages:focus-visible {
    outline: 0
}

.preferences__options {
    position: absolute;
    top: 20px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 1px 2px 6px 1px;
}

.preferences__currencies select option,
.preferences__languages select option {
    padding: 4px;
    color: var(--dark-gray);
}


/* HEADER MID */
.header__mid-container {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

/* search bar */
.searchbar__input,
.header__searchbar {
    width: 100%;
}

.searchbar__input::placeholder {
    font-size: 1rem;
    font-weight: var(--normal-font-size);
}

.searchbar__form {
    padding: 12px 10px 12px 10px;
    width: 100%;
    display: flex;
    border: 2px solid #d3d3d34d;
    border-radius: 8px;
}

.searchbar__form:focus-within {
    border: 2px solid black;
}

.searchbar__icon {
    font-size: 1rem;
}

/* header icons */
.header__icons {
    display: flex;
    gap: 15px;
}

.header__icon:nth-child(1) {
    display: none;
}

.header__icon i {
    font-size: 2.3rem;
    color: var(--dark-gray);
    cursor: pointer;
}

.header__icon i:hover {
    color: var(--pink);
    transition: .5s;
}

/* NAV */
.nav__menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__list {
    display: flex;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

.nav__item {
    position: relative;
}

.nav__link {
    color: var(--black);
    border-bottom: 1px solid transparent;
}


/* big nav */
.nav__item:nth-child(2) {
    position: initial;
}

.nav__link:hover {
    color: var(--pink);
    border-bottom: 1px solid var(--pink);
    transition: .5s;
}

.nav__toggle {
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.big__subnav {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 26px;
    background-color: white;
    z-index: 2;
    flex-direction: row;
    border: 1px solid var(--super-light-gray);
    border-radius: 10px;
    width: max-content;
    box-shadow: 1px 2px 12px -6px;
    padding: 15px;
}

.subnav__col {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.subnav__title {
    border-bottom: 1px solid var(--super-light-gray);
}

.subnav__categories {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.subnav__categories a {
    float: left;
    color: var(--dark-gray);
    text-decoration: none;
    padding-top: 1rem;
    font-size: .9rem;
}

.subnav__categories a:hover {
    color: var(--pink);
    transition: .5s;
}

.subnav__image-container {
    max-width: 200px;
}

.subnav__image {
    border-radius: 10px;
}

/* small nav */
.subnav__content {
    display: none;
    position: absolute;
    left: 0;
    top: 26px;
    background-color: white;
    z-index: 2;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--super-light-gray);
    border-radius: 10px;
    width: max-content;
    box-shadow: 1px 2px 12px -6px;
    padding: 15px;
}

.subnav__content a {
    float: left;
    color: var(--dark-gray);
    text-decoration: none;
    font-size: .9rem;
}

.subnav__content a:hover {
    color: var(--pink);
    transition: .5s;
}

.nav__item:hover .subnav__content {
    display: flex;
    transition: 3.5s;
}

.nav__item:hover .big__subnav {
    display: flex;
    transition: 3.5s;
}


/* BANNER SLIDER */
.banner__slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item {
    position: relative;
}

.slider__img {
    display: block;
    margin: auto auto;
    border-radius: 10px;
}

.slider__content {
    position: absolute;
    top: 6rem;
    left: 7rem;
}

.slider__subtitle h2 {
    color: var(--pink);
    font-size: 2rem;
    font-weight: 500;
}

.slider__title h1 {
    color: var(--black);
    font-size: 2.5rem;
    line-height: 40px;
    padding-top: 1rem;
}

.slider__price p {
    font-size: 1.25rem;
    color: var(--dark-gray);
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.slider__price {
    padding-bottom: 15px;
}

.slider__price span {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
}

.slider__button {
    color: white;
    border: 1px solid var(--pink);
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    background-color: var(--pink);
    font-weight: 600;
}

.swiper {
    overflow: hidden;
}

/* CATEGORIES SLIDER */
.categories__swiper {
    overflow: hidden;
}

.categories__slider {
    margin: 2.5rem 0rem 2.5rem 0rem;
}

.categories__item {
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid var(--super-light-gray);
    border-radius: 5px;
}

.swiper-categories {
    overflow: hidden;
}

.slideimage__container {
    display: flex;
}

.slideimage__container img {
    margin: 0.5rem;
    padding: 0.5rem;
    display: block;
    border: 1px solid #a9a6a6;
    border-radius: 3px;
    background: var(--light-gray);
}

.slideinfo__container h4 {
    font-size: 0.9rem;
}

.slideinfo__container a {
    color: var(--pink);
    font-size: 0.8rem;
}

.slidestock {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: gray;
    font-size: 0.67rem;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

/* SIDERBAR */
.sidebar {
    width: 100%;
}

.sidebar__sticky {
    position: sticky;
    top: 10px;
}

.sidebar__category {
    border: 1px solid var(--super-light-gray);
    border-radius: 10px;
    padding: 1rem;
}

.category__list-item a {
    display: flex;
    color: gray;
}

.category__list-item a:hover {
    color: var(--dark-gray);
}

.category__list-item a span {
    float: right;
    margin-left: auto;
}

/* accordion panel */
.accordion {
    color: gray;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.1rem;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

.active {
    border-bottom: 1px solid var(--super-light-gray);
    margin-bottom: 1rem;
    transition: 1s;
}

.active,
.accordion:hover {
    background-color: transparent;
}

.accordion i {
    padding-right: 0.5rem;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '+';
    /* Unicode character for "plus" sign (+) */
    font-size: 1.3rem;
    color: #777;
    float: right;
    margin-left: auto;
}

.active:after {
    content: "-";
    font-size: 1.3rem;
    color: #777;
    float: right;
    margin-left: auto;
    /* Unicode character for "minus" sign (-) */
}

/*best sellers */
.sidebar__bestsellers {
    margin-top: 2rem;
}

.bestsellers__item {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.bestseller__image img {
    border-radius: 10px;
    margin-right: 1rem;
}

.bestseller__name {
    font-size: 1rem;
    color: var(--dark-gray);
}

.bestseller__price p {
    font-weight: var(--font-semi-bold);
    color: var(--dark-gray)
}

.bestseller__price p span {
    font-weight: 200;
    color: gray;
    font-size: 0.8rem;
    text-decoration: line-through;
}

/* stars */
.bestseller__stars i,
.dealday__stars i,
.newproduct__stars i {
    color: rgb(219, 167, 24);
}

/* PROMOTIONS */
.promotions__column {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.promotion__container {
    width: 100%;
}

.promotion__title,
.dealday__title {
    font-size: 1.1rem;
    border-bottom: 1px solid var(--super-light-gray);
    padding: 0rem 0rem 0.4rem 0rem;
}

.promotion__products {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.promo-product__item {
    display: flex;
    align-items: center;
    border: 1px solid var(--super-light-gray);
    border-radius: 10px;
    width: max-content;
}

.promo-product__img {
    padding: 1rem;
}

.promo-product__info {
    padding: 1rem 1rem 1rem 0rem;
}

.promo-product__category p {
    font-size: 0.9rem;
    color: gray;
}

.promo-product__price {
    font-weight: var(--font-semi-bold);
    color: var(--pink);
}

.promo-product__price span {
    font-weight: 200;
    color: gray;
    font-size: 0.8rem;
    text-decoration: line-through;
}

/* deal of the day */
.dealday__section {
    margin-top: 2rem;
    overflow: hidden;
}

.dealday__container {
    display: flex;
    margin-top: 2rem;
    padding: 2rem;
    gap: 5rem;
}

.dealday__name {
    font-size: 0.7rem;
    margin: 0.3rem 0rem 0.3rem 0rem;
}

.dealday__description {
    font-size: 0.9rem;
    color: var(--dark-gray);
    margin: 1rem 0 1rem 0;
}

.dealday__price p {
    color: var(--pink);
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
}

.dealday__price p span {
    color: grey;
    text-decoration: line-through;
    font-weight: 200;
}

.dealday__cart {
    margin: 1rem 0rem 1rem 0rem;
}

.dealday__cart a {
    color: white;
    background-color: var(--pink);
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: var(--font-semi-bold);
    border-radius: 10px;
}

.dealday__stock {
    display: flex;
    justify-content: space-between;
}

.dealday__sold,
.dealday__available {
    font-size: 0.8rem;
}

.dealday__sold span,
.dealday__available span {
    font-weight: var(--font-semi-bold);
}

.dealday__countdown {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 60px 60px 60px 60px;
    gap: 1rem;
    flex: 1;
}

.countdown__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 0.5rem;
    flex: 1;
}

.countdown__item h5 {
    font-size: 1rem;
}

.dealday__bar {
    height: 7px;
    overflow: hidden;
}

.container__bar {
    width: 100%;
    height: 7px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.available__bar {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.fifty {
    height: 7px;
    width: 50%;
    background-color: var(--pink);
}

/* new products */
.newproducts__row {
    display: flex;
    gap: 2rem;
}

.newproduct__container {
    margin-top: 2rem;
    border: 1px solid var(--super-light-gray);
    border-radius: 10px;
    padding: 1rem;
}

.newproduct__category {
    color: var(--pink);
}

.newproduct__name {
    color: gray;
    padding: 0.5rem 0 0.5rem 0;
}

.newproduct__price p {
    font-weight: var(--font-semi-bold);
}

.newproduct__price p span {
    font-weight: 200;
    text-decoration: line-through;
    color: gray;
}

/*TESTIMONIAL AND OUR SERVICES */
.testnservices__container {
    display: grid;
    grid-template-columns: 1.3fr 3fr 1.3fr;
    margin-top: 4rem;
}

.testnservices__image-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.testnservices__image {
    border-radius: 10px;
}

.testnservices__info {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff85;
    ;
    border-radius: 5px;
}

.testnservices__center {
    padding: 2.5rem;
}

.testimonial__title,
.services__title {
    font-size: 1.1rem;
    border-bottom: 1px solid var(--super-light-gray);
    padding: 0rem 0rem 0.4rem 0rem;
}

.testimonial__info,
.services__info {
    margin-top: 2rem;
    border: 1px solid var(--super-light-gray);
    border-radius: 10px;
}

.testimonial__info {
    padding: 2rem;
    text-align: center;
}

.testimonial__image img {
    border-radius: 100%;
}

.testimonial__name h3 {
    color: var(--dark-gray);
    margin: .8rem 0 .3rem 0;
}

.testimonial__icon i {
    font-size: 3rem;
    color: var(--pink);
}

.testimonial__description {
    color: var(--dark-gray);
}

.testnservices__discount p {
    background-color: #242424;
    border-radius: 10px;
    color: white;
    font-weight: var(--font-semi-bold);
    font-size: 1rem;
    margin: 0rem 3rem 1rem 3rem;
    padding: 0.4rem 0.3rem;
}

.testnservices__collection h2 {
    color: var(--dark-gray);
    font-weight: var(--font-semi-bold);
}

.testnservices__starting {
    color: var(--dark-gray);
}

.testnservices__button a {
    font-size: 1.2rem;
    color: var(--dark-gray);
    font-weight: var(--font-semi-bold);
}

.services__info {
    padding: 1rem 2rem;
}

.service__item {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
}

.service__icon i {
    font-size: 2rem;
    color: var(--pink);
}

.service__name h3 {
    font-size: 1rem;
    color: gray;
}

.service__description {
    font-size: .9rem;
    color: gray;
    margin-top: .1rem;
}

/* ARTICLES */
.articles {
    overflow: hidden;
    margin: 3rem 0 3rem 0;
}

.articles__container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.article__image img {
    border-radius: 10px;
}

.article__category {
    color: var(--pink);
    font-size: 0.9rem;
}

.article__author p {
    font-size: 0.9rem;
    color: var(--dark-gray);
    margin-top: 0.3rem;
}

.article__author span {
    color: black;
}

/* FOOTER */
.footer__container {
    background-color: #242424;
    color: rgb(147, 145, 145);
}

.line__container {
    border-bottom: 1px solid #e3e3e338;
}

.brand__container,
.footermid__container,
.copyright__container {
    padding: 3rem 0 3rem 0;
}

.brand__title h3 {
    color: var(--pink);
    font-size: 1rem;
}

.brand__list {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    align-items: center;
}

.brand__item {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
}

.brand__item h5 {
    font-weight: var(--font-semi-bold);
    font-size: 0.9rem;
}

.brand__list-item {
    position: relative;
    float: left;
    cursor: pointer;
}

.brand__list-item:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 3px;
    right: -17px;
    background: rgb(147, 145, 145);
    width: 1px;
    height: 15px;
}





.footermid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
    gap: 3rem;
}

.footermid__title {
    position: relative;
}

.footermid__title h3 {
    color: white;
    font-size: 1rem;
}

.footermid__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--pink);
    width: 60px;
    height: 1px;
}

.footermid__list {
    margin-top: 1.5rem;
}

.footermid__list-item {
    margin-top: 0.5rem;
    cursor: pointer;
}

.footermid__list-item a {
    color: rgb(147, 145, 145);
}

.footermid__list-item:hover,
.footermid__list-item a:hover {
    color: var(--pink);
    transition: 1s;
}

.footermid__contact {
    display: flex;
    gap: 0.5rem;
}

.footermid__contact i {
    font-size: 1.5rem;
}

.copyright__container {
    text-align: center;
}

/* MOBILE MENU */
.mobile__menu {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 3px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    z-index: 10;
}

.mobile__menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.mobile__menu-container i {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.nav__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: white;
    padding: 0;
    height: 100%;
    padding: 1rem;
    min-width: 60%;
}
.nav__menu .panel{
 border-bottom: 1px solid var(--super-light-gray);
}
.nav__menu .accordion{
    margin-top: 0.7rem;
    font-size: 1rem;
    color: hsl(0deg 0% 27%);
}
.nav__menu .category__list-item{
    margin-bottom: 0.5rem;
}
.nav__top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid var(--super-light-gray);
    padding-bottom: 1rem;
}
.nav__top-title h3{
    color: var(--pink);
}
.nav__close {
    display: flex;
    align-items: center;
}

.mobile__preferences {
    margin: 3rem 0 3rem 0;
}
.mobile__preferences .category__list{
    border: 1px solid var(--super-light-gray);
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.5rem 0;
}
.mobile__preferences .category__list-item{
    border-bottom: 1px solid var(--super-light-gray);
}
.mobile__preferences .panel{
    border: 0;
}
.mobile__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.socials__item i{
    font-size: 2rem;
}
.mobile-show-menu{
    display: block;
}

/* MEDIA QUERIES */ 
@media screen and (max-width: 1200px) {
    .header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container {
        margin: 0 1rem;
    }

    .newproduct__image {
        text-align: center;
    }

    .newproducts__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .service__item {
        justify-content: center;
        text-align: center;
    }

    .nav__list {
        align-items: flex-start;
        gap: 1rem;
        flex-direction: column;
    }

    .accordion {
        color: black;
        padding: 5px 0 5px 0;
    }

    .active {
        border-bottom: 0;
        margin-bottom: 0;
        transition: 1s;
    }
}

@media screen and (max-width: 990px) {
    .container {
        margin: 0 1rem;
    }

    .header__socials,
    .nav,
    .header__icons,
    .header__preferences,
    .sidebar {
        display: none;
    }

    .mobile__menu {
        display: block;
    }

    .header__icon:nth-child(1) {
        display: block;
    }

    .header {
        padding: 0;
    }

    .header__mid-container {
        flex-direction: column;
        justify-content: center;
    }


    .slider__content {
        top: 1rem;
        left: 1rem;
    }

    .slider__subtitle h2 {
        font-size: 1rem;
    }

    .slider__title h1 {
        font-size: 1.5rem;
        line-height: 24px;
        padding-top: 0.2rem;
    }

    .slider__price {
        padding-bottom: 0.2rem;
    }

    .slider__price p {
        font-size: 0.9rem;
        padding: 0;
    }

    .slider__button {
        padding: 1px 4px 1px 4px;
    }


    .row,
    .dealday__container {
        flex-direction: column;
    }

    .products {
        display: flex;
        flex-direction: column;
    }

    .promo-product__item {
        width: 100%;
    }

    .promotion__products {
        flex-direction: column;
        align-items: center;
    }


    .testnservices__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-bottom: 4rem;
    }

    .brand__item {
        flex-wrap: wrap;
    }

    .brand__list {
        flex-wrap: wrap;
        row-gap: 0.1rem;
        column-gap: 2rem;
        align-items: center;
    }


    .articles {
        margin-bottom: 3rem;
    }


    .footermid__container {
        grid-template-columns: 1fr;
    }

}

/* xs small */
@media screen and (max-width: 500px) {
    .newproducts__row {
        display: grid;
        grid-template-columns: 1fr;
    }

    .slider__subtitle h2 {
        font-size: 0.5rem;
    }

    .slider__title h1 {
        font-size: 0.7rem;
        line-height: 10px;
    }
}